/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
  html {
    font-size: 90%;
  }

  @include header_768px;
  @include home_768px;
  @include works_768px;
  @include services_768px;
  @include roadmap_768px;
  @include footer_768px;
}

/* For small devices */
@media screen and (max-width: 425px) {
  html {
    font-size: 80%;
  }
  @include home_425px;
  @include header_425px;
}

/* For smaller devices */
@media screen and (max-width: 375px) {
  html {
    font-size: 75%;
  }
}

/* For smaller devices */
@media screen and (max-width: 320px) {
  html {
    font-size: 65%;
  }
}
