/*=============== VARIABLES CSS ===============*/
:root {
  /*-------- Colors --------*/
  --first-color: hsl(246, 95%, 53%);
  --first-color-alt: hsl(246, 95%, 43%);
  --second-color: hsl(307, 94%, 56%);
  --second-color-alt: hsl(287, 80%, 53%);
  --gradient-color: linear-gradient(
    45deg,
    var(--first-color),
    var(--second-color)
  );
  --title-color: hsl(0, 0%, 90%);
  --text-color: hsl(0, 0%, 80%);
  --text-color-light: hsl(0, 0%, 80%);
  --body-color: linear-gradient(48deg, #2f0f32, #170d18);
  /*-------- Font --------*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --font-medium: 500;
  --font-semi-bold: 700;
  /*-------- Other --------*/
  --main-transition: all 0.5s ease;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color) no-repeat fixed;
  color: var(--text-color);
  transition: 0.3s;
  /* For animation dark mode */
  height: 200vh;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.btn {
  background: var(--gradient-color) border-box;
  padding: 0.9rem 1.8rem;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-transform: capitalize;
  font-size: var(--small-font-size);
  transition: var(--main-transition);
}
.btn:hover {
  opacity: 0.7;
}

.list {
  margin-bottom: 2.5rem;
}
.list li {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.list li span {
  position: relative;
  margin-right: 1.25rem;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
}
.list li span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gradient-color);
  opacity: 0.2;
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  z-index: -1;
}

.frame {
  border: 4px solid #fff;
  border-radius: 40px;
  overflow: hidden;
}

.card {
  position: relative;
  margin: 2rem 1.5rem;
  padding: 2rem;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: var(--gradient-color);
  opacity: 0.2;
  z-index: -1;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.section {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

/*=============== THEME ===============*/
#main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 99;
}
#main-header.fixed {
  background: rgba(38, 15, 41, 0.91);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 3px 9px 8px 0px rgba(0, 0, 0, 0.42);
}
#main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#main-header .container .logo_container .logo {
  width: 50px;
  height: 50px;
}
#main-header .container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#main-header .container .navbar .nav-items {
  display: flex;
  align-items: center;
}
#main-header .container .navbar .nav-items .nav-item {
  position: relative;
  margin-right: 1rem;
  transition: var(--main-transition);
}
#main-header .container .navbar .nav-items .nav-item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 4px;
  background: transparent;
  transition: var(--main-transition);
}
#main-header .container .navbar .nav-items .nav-item:hover, #main-header .container .navbar .nav-items .nav-item.active {
  color: var(--second-color-alt);
}
#main-header .container .navbar .nav-items .nav-item:hover::after, #main-header .container .navbar .nav-items .nav-item.active::after {
  background: var(--gradient-color);
  width: 100%;
}
#main-header .container .navbar .nav-items .nav-item a {
  color: var(--test-color);
  font-size: 1.1rem;
}
#main-header .container .navbar .btn {
  border: 2px solid #fff;
  background: transparent;
}
#main-header .container .navbar-btn {
  display: none;
}

.main #home {
  position: relative;
  height: 100vh;
  padding-top: 5.5rem;
}
.main #home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: var(--gradient-color);
  z-index: -1;
}
.main #home .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.main #home .container .section-left .home-title {
  text-transform: capitalize;
  font-size: 3.25rem;
  margin-bottom: 1rem;
}
.main #home .container .section-left .home-title span {
  position: relative;
}
.main #home .container .section-left .home-title span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115%;
  height: 42%;
  background: var(--gradient-color);
  z-index: -1;
}
.main #home .container .section-left .home-description {
  margin-bottom: 2.5rem;
}
.main #home .container .section-left .home-btns .btn-create {
  background: linear-gradient(#2f0f32, #2f0f32) padding-box, var(--gradient-color) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-left: 0.7rem;
}
.main #home .container .section-left .home-btns .btn-explore {
  border: 2px solid transparent;
}
.main #home .container .section-right .hero-img-container {
  width: 80%;
  margin-left: auto;
}

.main .works .container {
  display: flex;
  justify-content: space-around;
}
.main .works .container .section-right .works-items {
  margin-bottom: 2.5rem;
}
.main .works .container .section-left .how-img-container {
  width: 70%;
}
.main .works.reverse .container {
  flex-direction: row-reverse;
}
.main .works.reverse .container .section-left .how-img-container {
  margin-left: auto;
}

.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services .container .section-top {
  display: flex;
  gap: 2rem;
  margin-bottom: 8rem;
}
.services .container .section-top .services-img-container:nth-child(2) {
  transform: translateY(5rem);
}

.roadmap .main-title {
  margin-bottom: 6rem;
}
.roadmap .container {
  display: flex;
  align-items: center;
}
.roadmap .container .section-left {
  transform: translateY(-3rem);
}
.roadmap .container .list {
  margin: 0;
}

.footer {
  background-image: url("../imgs/footer-background.png");
  background-position: left center;
}

/*------- Dark theme -------*/
.dark {
  --first-color-lighten: hsl(228, 100%, 3%);
  --text-color-light: hsl(228, 12%, 25%);
  --border-color: hsl(228, 99%, 22%);
  --body-color: hsl(0, 0%, 20%);
  --container-color: hsl(0, 0%, 16%);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1024px) {
  :root {
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  #main-header .container .navbar {
    position: fixed;
    top: 0;
    right: -150%;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    transition: var(--main-transition);
    z-index: 999;
  }
  #main-header .container .navbar.active {
    right: 0;
  }
  #main-header .container .navbar .nav-items {
    flex-direction: column;
  }
  #main-header .container .navbar .nav-items .nav-item {
    margin: 0 0 3rem 0;
  }
  #main-header .container .navbar-btn {
    display: block;
    background: transparent;
    cursor: pointer;
    z-index: 9999;
  }

  .main #home {
    height: auto;
  }
  .main #home::before {
    top: unset;
    bottom: 0;
    width: 100%;
    height: 50%;
  }
  .main #home .container {
    flex-direction: column;
  }
  .main #home .container .section-right .hero-img-container {
    width: 340px;
    padding-top: 9rem;
    margin: auto;
  }

  .main .works .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main .works .container .section-left .how-img-container {
    margin: 2rem auto;
  }
  .main .works.reverse .container {
    flex-direction: column;
  }

  .main .services .container .section-top {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .main .services .container .section-top .services-img-container:nth-child(2) {
    transform: unset;
  }

  .roadmap .main-title {
    margin-bottom: 2.5rem;
  }
  .roadmap .container {
    flex-direction: column;
  }
  .roadmap .container .section-left {
    transform: unset;
  }
}
@media screen and (max-width: 425px) {
  #main-header .container .navbar {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */